<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections/>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=103.191.208.118;Initial Catalog=idealtec_r3_college_bus;User ID=idealtec_r3_college_bus;Password=Mpiti@123;Integrated Security = false;Persist Security Info=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="2097151"/>
		<trace enabled="true"/>
		
		<customErrors mode="Off"/>
		<compilation debug="true"/>
		<authentication mode="Windows"></authentication>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect http://nashikestate.com to http://www.nashikestate.com HTTP" patternSyntax="ECMAScript" stopProcessing="true">
					<match url=".*"></match>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^mydomain.com$"></add>
						<add input="{HTTPS}" pattern="off"></add>
					</conditions>
					<action type="Redirect" url="http://www.nashikestate.com/{R:0}" redirectType="Permanent" appendQueryString="true"></action>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>


</configuration>